.__datePicker {
  width: 100px;
  text-align: center;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.29;
  letter-spacing: -0.1px;
  color: #263241;
  margin-top: 6px;
}