.createShipment__root {
    display: flex;
    height: -webkit-fill-available;
    flex: 1;
    background-color: #f8f9fb;
    padding: 2px 0 0 0;
}

.createShipment__steps {
    display: flex;
    width: 30%;
    padding: 4% 0% 0 4%;
    flex-direction: column;
    background-color: #f8f9fb;
}

.createShipment__steps_text {
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #263241;
}

.createShipment__steps_textDescription {
    font-family: Montserrat;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0px;
    color: #9ba6b2;
}

.createShipment__rightContainer {
    display: flex;
    flex: 1;
    width: 70%;
    padding: 4% 2% 0% 95px;
    background-color: #ffffff;
}

.createShipment__basicInfo {
    max-width: 640px;
}

.createShipment__basicInfo_text {
    font-family: Montserrat;
    font-size: 28px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #263241;

}

.createShipment__basicInfo_textDescription {
    margin-top: 5px;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0px;
    color: #9ba6b2;
}

.sender__root {
    margin-top: 30px;
}

.sender__text {

    font-family: Montserrat;
    font-size: 18px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #263241;
}

.sender__textDescription {
    margin-top: 5px;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0px;
    color: #9ba6b2;
}

.location_input {
    padding: 0 15px 0 15px;
    margin-top: 5px;
    width: 100%;
    height: 48px;
    flex: 1;
    border-radius: 2px;
    border: solid 1px #dbe1e9;
    background-color: #ffffff;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0px;
    color: #263241;
}

.recipient_root {
    margin-top: 30px;
}

.recipient_input {
    padding: 0 15px 0 15px;
    margin-top: 5px;
    width: 100%;
    height: 48px;
    flex: 1;
    border-radius: 2px;
    border: solid 1px #dbe1e9;
    background-color: #ffffff;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0px;
    color: #263241;
}

.createShipment__basicInfo_continue {
    cursor: pointer;
    margin-top: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 52px;
    border-radius: 2px;
    box-shadow: 0 2px 7px 0 rgba(31, 90, 246, 0.2);
    background-color: #1f5af6;
    font-family: Montserrat;
    font-size: 15px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: -0.1px;
    text-align: center;
    color: #ffffff;
}

.createShipment__cargoInformation {
}

.createShipment__from_to_container {
    margin-top: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.createShipment__fromTo_input {
    margin-top: 5px;
    height: 48px;
    border-radius: 2px;
    border: solid 1px #dbe1e9;
    background-color: #ffffff;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0px;
    color: #263241;
    padding: 0 15px 0 15px;
}

.load__root {
    margin-top: 30px;
}


.createShipment__cargotype_btn.dropdown-toggle.btn.btn-primary{
    margin-top: 5px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 640px;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0px;
    color: #263241;
    height: 48px;
    border-radius: 2px;
    border: solid 1px #dbe1e9;
    background-color: #ffffff;
}
.createShipment__confirmation {
}

