.createShipment__root {
    display: flex;
    flex: 1;
    background-color: #f8f9fb;
    padding: 2px 0 0 0;
}

.createShipment__steps {
    display: flex;
    width: 30%;
    padding: 4% 0 0 4%;
    flex-direction: column;
    background-color: #f8f9fb;
}

.createShipment__steps_text {
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #263241;
}

.createShipment__steps_textDescription {
    font-family: Montserrat;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0px;
    color: #9ba6b2;
}

.createShipment__rightContainer {
    display: flex;
    flex: 1;
    width: 70%;
    padding: 4% 0 0 0 ;
    background-color: #ffffff;
}

.createShipment__basicInfo {}

.createShipment__cargoInformation {

}

.createShipment__confirmation {}