.shipments__root{
    display: flex;
    flex: 1;
}

.shipments__left{
    flex: 1 1 40%;
    border: 1px solid black;
}

.shipments__right{
    flex: 1 1 60%;
    border: 1px solid black;
}

.statusFilter__checkboxes {
    display: flex;
    flex-direction: column;
}

.shipment__root {
    display: flex;

}
.shipment__fieldLabel {
    font-family: Montserrat;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: -0.1px;
    color: #9ba6b2;
}

.shipment__field {
    font-family: Montserrat;
    font-size: 15px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.1px;
    color: #263241;
}

.Forming {
    font-family: Montserrat;
    font-size: 15px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: -0.2px;
    color: #9ba6b2;
}

.Formed {
    font-family: Montserrat;
    font-size: 15px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: -0.2px;
    color: #4e5c6e;
}

.Approved {
    font-family: Montserrat;
    font-size: 15px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: -0.2px;
    color: #ffc443;
}

.On-the-Way {
    font-family: Montserrat;
    font-size: 15px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: -0.2px;
    color: #1f5af6;
}


.Damaged {
    font-family: Montserrat;
    font-size: 15px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: -0.1px;
    color: #eb4d4b;
}

.Done {
    font-family: Montserrat;
    font-size: 15px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: -0.1px;
    color: #72c150;
}